@page
@model IndexModel
<!-- @{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/Tone.js" type="module"></script>
    <script src="js/index.js" type="module"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Musical Playground</title>
</head>
<body class="grid-container">
    <button id="init">Init</button>
    
    <select id="instrument-selection"></select>
    <select id="sample-selection"></select>
</body>
</html>